{% extends 'flashcards/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block head %}
<link type="text/css" href="{% static 'flashcards/css/sign-in.css' %}" rel="stylesheet"/>
{% if card_object %}
<title>Card: {{ card_object | upper }}</title>
{% else %}
<title>New Card</title>
{% endif %}
{% endblock %}

{% block body %}

<div class="d-flex justify-content-between" style="width: 100%; max-width: 1200px; margin: 0 auto;">
    <div class="container">
        <div class="col-xl-6">

            {% if card_object %}
            <h3>Card: {{ card_object | upper}}</h3>
            <h6>Edit your card below</h6>
            {% else %}
            <h3>Add Card</h3>
            <h6>Create a new card below</h6>
            {% endif %}

            <form method="POST" enctype="multipart/form-data" nonvalidate>
                {% csrf_token %}
                {% for f in form %}
                <div class="form-group">
                    {{ f.label_tag }}
                    {% if f.field.widget.input_type != 'file' %}
                    {% render_field f class="form-control" %}
                    {% else %}
                    <div class="form-floating">
                        <div class="mb-3" id="video_recording">
                            {{f}}
                        </div>

                    </div>
                    {% endif %}

                </div>
                {% endfor %}

                <button class="btn btn-primary btn-md" type="submit">Save</button>

                {% if edit_mode %}
                <a class="btn btn-primary btn-md"
                   href="{% url 'delete_card' card_object.id %}"
                   role="button">Delete </a>
                {% endif %}
            </form>

        </div>
    </div>

    <main class="form-signin w-100 m-auto">

        <h1 class="h3 mb-3 fw-normal">Записать видео</h1>
        <button id="start-camera" class="w-50 btn btn-lg btn-primary">Камера</button>
        <video id="video" width="300" height="250" autoplay></video>
        <button id="start-record" class="w-100 btn btn-lg btn-primary">Начать запись</button>
        <button id="stop-record" class="w-100 btn btn-lg btn-primary">Закончить запись</button>
        <a class="btn btn-primary btn-lg" style="width: 300px;" id="download-video" download="test.webm">Скачать
            запись</a>
        <p class="fw-bold" style="margin-bottom: 15px;" id="classification"></p>
    </main>
</div>


<script src="{% static 'flashcards/js/client.js' %}"></script>

{% endblock %}